services:
  app:
    build: .
    container_name: backend-course-2025-7
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development